:root {
    --background-color: hsl(120, 5%, 20%);
    --text-color: hsl(0, 0%, 98%);
    --subtle-text-color: hsl(120, 5%, 70%);

    --accent-color: hsl(120, 5%, 50%);
    --input-background-color: hsl(120, 5%, 26%);

    --upper-background-color: hsl(120, 5%, 22%);

    --border-radius: 8px;

    background-color: var(--background-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--text-color);
}

body {
    margin: 0;
    padding-top: 1rem;
}

.content-container {
    margin: 2em 25vw 0;
    box-sizing: border-box;
}

hr {
    width: 70%;
    border: none;
    border-bottom: 1px solid var(--accent-color);
}

h1 {
    font-size: 1.8rem;
}

h3 {
    font-size: 1.5rem;
    margin: 8px;
}

/* I/O */

#input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 0.5rem;
}

#input {
    font: inherit;
    color: inherit;
    padding: 0.4em 0.6em;
    flex-grow: 1;
    background-color: var(--input-background-color);
    border: 1px solid var(--accent-color);
    border-radius: var(--border-radius);
    outline: none;
}

#input-confirm-button {
    cursor: pointer;
    font: inherit;
    color: inherit;
    padding: 0.4em 2em;
    width: 20%;
    font-weight: 600;
    border-radius: var(--border-radius);
    background-color: var(--input-background-color);
    border: 1px solid var(--accent-color);
}

#input:disabled,
#input-confirm-button:disabled {
    opacity: 0.5;
    filter: brightness(80%);
}

#output-message {
    color: var(--subtle-text-color);
}

ol {
    margin-top: 0.2em;
}

/* HINTS */

#hints-container {
    text-align: center;
    background-color: var(--upper-background-color);
    border: 1px solid var(--accent-color);
    border-radius: var(--border-radius);
    position: relative;
    padding: .5rem;
    margin-bottom: 3rem;
}

#hints-list {
    margin: 0;
    text-align: left;
}

#hints-list li:last-of-type {
    padding-bottom: 1rem;
}

/* FOOTER */

#footer {
    border-top: 2px solid var(--accent-color);
    background-color: var(--upper-background-color);
    padding: 2rem 0 1rem;
    margin-top: 2rem;
    text-align: center;
}

#reload {
    cursor: pointer;
    font-size: 1rem;
    color: inherit;
    padding: .4em 1em;
    border: 1px solid var(--accent-color);
    border-radius: var(--border-radius);
    background: var(--input-background-color);
    text-align: center;
    height: 40px;
    width: 120px;
}


/* TOGGLE SWITCH */

/* .toggleSwitch {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 0;
}

.toggleSwitch .toggleSwitchBody {
    background-color: #ddd;
    border: 1px solid gray;
    width: 96px;
    border-radius: 48px;
    box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease;
}

.toggleSwitch .toggleSwitchBody .toggle {
    width: 48px;
    height: 48px;
    background-color: white;
    border-radius: 50%;
    border: 1px solid gray;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    transition: all 0.35s ease;
}

.toggleSwitch:active .toggleSwitchBody {
    background-color: #51d88a;
}

.toggleSwitch:active .toggleSwitchBody .toggle {
    transform: translateX(100%);
}

.toggleSwitch input[type=checkbox] {
    display: none;
} */

/* PERIODIC TABLE */

/* @media (max-width : 1080px) {
    #table-container {
        display: none;
    }
} */

#table-container {
    text-align: center;
    justify-content: center;
    padding: 1rem;
    margin-top: 1rem;
    font-size: 0.7rem;
}

#table .eliminated {
    opacity: 0.5;
    filter: brightness(60%);
}

/* #periodicTableKey tr {
  display: flex;
  justify-content: center;
  align-items: center;
} */

.keyBoxNone {
    background-color: rgba(0, 0, 0, 0.1);
}

#table {
    width: 90%;
    /* max-width: 90vw; */
    margin: auto;
    padding-bottom: 25px;
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    grid-template-rows: repeat(6, 1fr) 1.3fr 1fr 1fr;
    gap: 2px;
}

#table-key-container {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 4;
    grid-column-end: 12;
}

/* ELEMENT STYLES */

.element {
    aspect-ratio: 1;
    padding: 0.5em;
    border-radius: 5px;
    box-sizing: border-box;
}

.element-topbar {
    display: flex;
    justify-content: space-between;
}

.element-symbol {
    --color: inherit;
    font-size: 1.8em;
    font-weight: 600;
    display: block;
    color: var(--color);
}

.element-name {
    font-size: 0.8em;
    display: block;
}

.element-atomic-mass {
    font-size: 0.8em;
    display: block;
}

.element-atomic-number {
    font-size: 0.8em;
    text-align: left;
    margin: 0;
    width: 100%;
    display: block;
}

.solid .element-symbol {
    --color: inherit;
}

.liquid .element-symbol {
    --color: hsl(240, 100%, 50%);
}

.gas .element-symbol {
    --color: hsl(0, 100%, 50%);
}

.unknown-state .element-symbol {
    --color: hsl(0, 0%, 50%);
}

.radioactive .element-marker-1 {
    
}

/* ELEMENT CLASS COLORS */

.actinoid {
    background-color: hsl(300, 30%, 25%);
}

.lanthanoid {
    background-color: hsl(270, 30%, 25%);
}

.noble-gas {
    background-color: hsl(220, 30%, 25%);
}

.reactive-nonmetal {
    background-color: hsl(200, 30%, 25%);
}

.nonmetal {
    background-color: hsl(180, 30%, 25%);
}

.metalloid {
    background-color: hsl(122, 30%, 25%);
}

.post-transition-metal {
    background-color: hsl(71, 30%, 25%);
}

.transition-metal {
    background-color: hsl(39, 30%, 25%);
}

.alkaline-earth-metal {
    background-color: hsl(17, 30%, 25%);
}

.alkali-metal {
    background-color: hsl(0, 30%, 25%);
}